<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="AngularTutorialContext"
         connectionString="Server=74a6d845-9ca0-43e4-8922-a36700ec2c46.sqlserver.sequelizer.com;Database=db74a6d8459ca043e48922a36700ec2c46;User ID=gqytwqdikddqwjhb;Password=kLi5FsRtFtZFiskCQnLEDHf8D76uYfstaeUM3Gf64MoGWKmg7M7PTUFJEjzGvvBz;" />
  </connectionStrings>  
</configuration>